$colors: (
	'red':  #be3843,
	'orange': #d3673d,
	'yellow': #c9b232,
	'green': #81b034,
	'blue': #3a58d7,
	'white': #e2e2e2,
);

.sharpness-bar {
    margin: 0 28px 15px;
    width: 100px;
	height: 10px;
    background-color: #1e2325;

    > div:not(.clearfix) {
        height: 10px;
		float: left;

		@each $name, $color in $colors {
			&.#{$name} {
				background-color: $color;
			}
		}
    }
}